.forgot-container{
    max-width:420px;
    margin:50px auto;
    padding:30px;
}

html{
    -webkit-text-size-adjust: 100%;
}

.forgot-header{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:30px;
}

.back-icon{
    font-size:24px;
    cursor:pointer;
}

.forgot-container p{
    color:#666;
    margin-bottom:25px;
}

.input-group{
    display:flex;
    align-items:center;
    border:1px solid #ddd;
    border-radius:12px;
    padding:12px;
    margin-bottom:20px;
}

.input-group input{
    flex:1;
    border:none;
    outline:none;
    margin-left:10px;
}

.login-btn{
    width:100%;
    background:#2E7D32;
    color:white;
    padding:14px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
}